@model İnternetProgramlamaFilmProjesi.Models.member
@{
    ViewBag.Title = "MembersDelete";
    Layout = "~/Views/_AdminLayout.cshtml";
}

<h2>Üye Silme</h2>

<h3>Bu üyeyi silmek ister misiniz?</h3>
<div>
    <table class="col-md-12" style="text-align:left">
        <tr>
            <th>@Html.DisplayNameFor(model => model.ad) : </th>
            <td>@Html.DisplayFor(model => model.ad)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.soyad) : </th>
            <td>@Html.DisplayFor(model => model.soyad)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.email) : </th>
            <td>@Html.DisplayFor(model => model.email)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.kullanici) : </th>
            <td>@Html.DisplayFor(model => model.kullanici)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.parola) : </th>
            <td>@Html.DisplayFor(model => model.parola)</td>
        </tr>
    </table>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Sil" class="btn btn-default" /> |
            @Html.ActionLink("Listeye Geri Dön", "Members")
        </div>
    }
</div>
